<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Jobify</title>
    <link href="style/home.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <header>
      <img src="img/logo.png" alt="Jobify logo" />
      <h2>We are Jobify - Join us!</h2>
    </header>
    <article>
      <div>
        <h1>Engineering team</h1>
        <a href="#test">Fullstack Developer(Remote)</a>
      </div>
      <div>
        <h1>Marketing team</h1>
        <a href="#test">Digital Marketing</a>
      </div>
    </article>
    <footer></footer>
  </body>
</html>
